# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
backend/venv/

# Django
backend/db.sqlite3

# Django media files (uploads)
backend/media/

# Environment variables
.env

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db